<section id="contact">
  <div class="container grid">
    <header>
      <p>Sugestões, elogios, críticas ou encomendas</p>
    </header>
    <ul>
      <li>
        <mat-icon class="icon">whatsapp</mat-icon> {{ phone | phoneNumber }}
      </li>
      <li>
        <mat-icon class="icon">pin_drop</mat-icon>
        Rua dos bobos, n° 0. Manaus/AM
      </li>
      <li>
        <mat-icon class="icon">email</mat-icon>
        popopocoffe@gmail.com
      </li>
      <li>
        <i class="bi bi-instagram"></i>
        @popopocafeteria
      </li>
    </ul>
  </div>
  <img
    src="assets/images/popopo-logo.png"
    alt="Logo Pó Pô Pó
  Cafeteria Gourmet"
    srcset=""
  />
</section>
