<section id="menu-section">
  <div class="container grid">
    <div class="image">
      <img
        src="assets/images/barista.png"
        alt="mulher negra barista fazendo café em frente à máquina de café"
        srcset=""
      />
    </div>
    <div class="text">
      <h2>CARDÁPIO</h2>
      <div class="content">
        <p>
          Temos muito café, comida boa e petiscos para seu pet. Confira nossas
          opções.
        </p>
        <button [routerLink]="['/menu']">VERIFICAR</button>
      </div>
    </div>
  </div>
</section>

<div class="divider-1"></div>
