<section>
  <p>Ou envie uma mensagem por meio do formulário abaixo</p>
  <form action="https://formsubmit.co/popopocoffe@gmail.com" method="POST">
    <input
      type="hidden"
      name="_next"
      value="http://localhost:4200/send-email-success"
    />
    <input
      type="hidden"
      name="_autoresponse"
      value="Sua mensagem foi recebida com sucesso! Analisaremos sua solicitação e logo entraremos em contato! Obrigada pela preferência! Pó Pô Pó Cafeteria Gourmet"
    />

    <div class="guest-card">
      <label for="name">NOME*</label>
      <input type="text" id="name" required />
    </div>
    <div class="guest-card">
      <label for="email">E-MAIL*</label>
      <input type="email" id="email" required />
    </div>
    <div class="guest-card">
      <label for="phone">TELEFONE*</label>
      <input type="number" id="phone" required placeholder="somente números" />
    </div>
    <div class="guest-card">
      <label for="message">MENSAGEM*</label>
      <textarea id="message" required></textarea>
    </div>
    <button class="submit" type="submit">ENVIAR</button>
  </form>
  <img
    src="assets/images/popopo-logo.png"
    alt="Logo Pó Pô Pó Cafeteria Gourmet"
    srcset=""
  />
</section>
