<section id="about">
  <div class="container grid">
    <div class="image">
      <img
        src="assets/images/cafeteria-large.png"
        alt="ao fundo, a entrada de uma cafeteria amarela, na frente, pessoas sentadas em mesas"
      />
    </div>
    <div class="text">
      <h2>SOBRE NÓS</h2>

      <p>
        A Pó Pô Pó nasceu de um meme e da vontade de ter um lugar do nosso
        jeito: inclusivo, amigo dos animais, onde você possa vir bater papo,
        fofocar ou dar novos ares ao seu home office.
      </p>
      <p>
        Para que esse ambiente continue a ser do jeitinho que sonhamos,
        precisamos da sua ajuda. Não pedimos muito, apenas respeito à
        diversidade.
      </p>
      <p>
        Além disso, enquanto estivermos nesse momento de pandemia global,
        pedimos que você tome alguns cuidados: use alcool em gel, máscara e
        traga o seu cartão de vacinação para que possamos conferir que você está
        imunizade.
      </p>
    </div>
  </div>
</section>

<div class="divider-1"></div>
